@import './mixin.scss';

.wrapper { max-width: 1080px; margin: auto; padding-left: 4%; padding-right: 4%;;}


#Intro {
  background-size: cover; background-position: right bottom; background-repeat: no-repeat;
  display: flex; align-items: center;
  height: 100vh; color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.9);

  #wrap-text { 
    text-align: center; width: 100%;
    h1 { font-size: 5rem;}
    p { font-size: 1.2rem;}
  }

}



h1 { text-align: center; font-size: 4rem; margin: 0; padding: 40px 0; margin-bottom: 16px; }

.Divider { margin: 50px 0;}
.Divider > div {width: 58%; height: 1px; margin: auto; background-color: lightgray;;}