@import './mixin.scss';

.wrapper { max-width: $width-lg; margin: auto;}


#Intro {
  background-size: cover; background-position: right bottom; background-repeat: no-repeat;
  display: flex; align-items: center;
  height: 100vh; color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.9);

  #wrap-text { 
    text-align: center; width: 100%;
    h1 { font-size: 5rem;}
    p { font-size: 1.2rem;}
  }

}

header {
  position: fixed;  top: 0; left: 0; right: 0;  ;
  background-color: rgba(0,0,0,0.0); color: white;
  .wrap-header {
    display: flex; align-items: center; 
    height: $headerHeight;
  }
  
  .menu-item { 
    font-size: 22px; font-weight: normal;  color: #ddd; 
    margin: 0 20px; cursor: pointer; 
    text-shadow: 1px 1px 4px rgba(0,0,0,0.9);
  }
  .menu-item:hover,.menu-item.selected { color: white; font-weight: bold; }
}
